<!--
  SPDX-FileCopyrightText: © 2024 Team CharLS
  SPDX-License-Identifier: BSD-3-Clause
-->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

    <!-- Use a different upgrade code for x86 to allow x86 and x64 versions to be installed side by side -->
  <?if $(sys.BUILDARCHSHORT) = "X86" ?>
  <?define UpgradeCode = "8b7ad629-eeba-43eb-9a2d-c7d47a1a8688" ?>
  <?else?>
  <?define UpgradeCode = "8b7ad629-eeba-43eb-9a2d-c7d47a1a8689" ?>
  <?endif?>

  <Bundle Name="JPEG-LS WIC Codec ($(sys.BUILDARCH))"
          Manufacturer="Team CharLS"
          Version="$(FourPartsVersion)"
          UpgradeCode="$(UpgradeCode)">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        LicenseUrl=""
        Theme="hyperlinkLicense"
        SuppressOptionsUI="yes"
        SuppressRepair="yes" />
    </BootstrapperApplication>

    <!-- processor architecture -->
    <util:RegistrySearch
        Id="REG_ARCH"
        Root="HKLM"
        Key="SYSTEM\CurrentControlSet\Control\Session Manager\Environment"
        Value="PROCESSOR_ARCHITECTURE"
        Result="value"
        Variable="ARCH_NAME" />

    <!-- Visual C++ 2015-2022 Redistributable (x86) runtime minimum msi package version -->
    <util:ProductSearch
        Id="VCRUNTIME_X86"
        Result="version"
        Variable="VCRUNTIME_X86_VER"
        UpgradeCode="65E5BD06-6392-3027-8C26-853107D3CF1A"
        Condition="VersionNT" />

    <!-- Visual C++ 2015-2022 Redistributable (x64) runtime minimum msi package version -->
    <util:ProductSearch
        Id="VCRUNTIME_X64"
        Result="version"
        Variable="VCRUNTIME_X64_VER"
        UpgradeCode="36F68A90-239C-34DF-B58C-64B30153CE35"
        Condition="VersionNT64 AND (ARCH_NAME = &quot;AMD64&quot;)"
        After="REG_ARCH" />

    <!-- Visual C++ 2015-2022 Redistributable (Arm64) runtime msi package version -->
    <util:ProductSearch
        Id="VCRUNTIME_ARM64"
        Result="version"
        Variable="VCRUNTIME_ARM64_VER"
        UpgradeCode="DC9BAE42-810B-423A-9E25-E4073F1C7B00"
        Condition="(ARCH_NAME = &quot;ARM64&quot;)"
        After="REG_ARCH" />

    <!-- Visual C++ 2015-2022 Redistributable runtime msi package version -->
    <Variable Name="VCRUNTIME_VER" Type="version" Value="14.50.35719.0" />

    <Chain>
      <!-- Visual C++ 2015-2022 Redistributable (x86) -->
      <?if $(sys.BUILDARCHSHORT) = "X86" ?>
      <ExePackage
          Id="VC_REDIST_X86"
          DisplayName="Microsoft Visual C++ v14 Redistributable (x86) - 14.50.35719"
          Cache="remove"
          PerMachine="yes"
          Permanent="yes"
          Protocol="burn"
          InstallCondition="VersionNT"
          DetectCondition="(VCRUNTIME_X86_VER &gt;= VCRUNTIME_VER) AND VersionNT"
          InstallArguments="/install /quiet /norestart"
          RepairArguments="/repair /quiet /norestart"
          UninstallArguments="/uninstall /quiet /norestart">
        <ExePackagePayload
            Name="VC_redist.x86.exe"
            ProductName="Microsoft Visual C++ v14 Redistributable (x86) - 14.50.35719"
            Description="Microsoft Visual C++ v14 Redistributable (x86) - 14.50.35719"
            Hash="A6687EF328597C90093A4278A12A0059496711801D84A40DC730511BADDE3D94199368D57FDC0926D8A3E19D2D2AEEC8FE58337B91CC69AEB4DFA251833CA5A6"
            Size="6876208"
            Version="14.50.35719.0"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/1c82a588-774f-4cd2-930d-9380f7e34e75/E7267C1BDF9237C0B4A28CF027C382B97AA909934F84F1C92D3FB9F04173B33E/VC_redist.x86.exe" />
      </ExePackage>
      <?endif?>

      <!-- Visual C++ 2015-2022 Redistributable (x64) -->
      <?if $(sys.BUILDARCHSHORT) = "X64" ?>
      <ExePackage
          Id="VC_REDIST_X64"
          DisplayName="Microsoft Visual C++ v14 Redistributable (x64) - 14.50.35719"
          Cache="remove"
          PerMachine="yes"
          Permanent="yes"
          Protocol="burn"
          InstallCondition="VersionNT64 AND (ARCH_NAME = &quot;AMD64&quot;)"
          DetectCondition="(VCRUNTIME_X64_VER &gt;= VCRUNTIME_VER) AND VersionNT64 AND (ARCH_NAME = &quot;AMD64&quot;)"
          InstallArguments="/install /quiet /norestart"
          RepairArguments="/repair /quiet /norestart"
          UninstallArguments="/uninstall /quiet /norestart">
        <ExePackagePayload
            Name="VC_redist.x64.exe"
            ProductName="Microsoft Visual C++ v14 Redistributable (x64) - 14.50.35719"
            Description="Microsoft Visual C++ v14 Redistributable (x64) - 14.50.35719"
            Hash="B618F601A1989A696C8EFA0208EFD977A3BFE9A8DF8ACE8FAE9EEF20262240E7EEFCB67CE466FE166BDC606D80D594D2DE80B3B4E530749AAB8E99F5CECD86D4"
            Size="18558944"
            Version="14.50.35719.0"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/6f02464a-5e9b-486d-a506-c99a17db9a83/8995548DFFFCDE7C49987029C764355612BA6850EE09A7B6F0FDDC85BDC5C280/VC_redist.x64.exe" />
      </ExePackage>
      <?endif?>

      <!-- Visual C++ 2015-2022 Redistributable (Arm64) -->
      <?if $(sys.BUILDARCHSHORT) = "A64" ?>
      <ExePackage
          Id="VC_REDIST_ARM64"
          DisplayName="Microsoft Visual C++ v14 Redistributable (Arm64) - 14.50.35719"
          Cache="remove"
          PerMachine="yes"
          Permanent="yes"
          Protocol="burn"
          InstallCondition="(ARCH_NAME = &quot;ARM64&quot;)"
          DetectCondition="(VCRUNTIME_ARM64_VER &gt;= VCRUNTIME_VER) AND (ARCH_NAME = &quot;ARM64&quot;)"
          InstallArguments="/install /quiet /norestart"
          RepairArguments="/repair /quiet /norestart"
          UninstallArguments="/uninstall /quiet /norestart">
        <ExePackagePayload
            Name="VC_redist.arm64.exe"
            ProductName="Microsoft Visual C++ v14 Redistributable (Arm64) - 14.50.35719"
            Description="Microsoft Visual C++ v14 Redistributable (Arm64) - 14.50.35719"
            Hash="5DA5D37877DA4FEDF6E50117D3CAE587E2321522C467B2C124EFF2176526C87CB2C415E6A06C7DF14C4ED4A6C296EF646638FB161F5AA52FAE6CC26DD43ADAD6"
            Size="11740976"
            Version="14.50.35719.0"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/1c82a588-774f-4cd2-930d-9380f7e34e75/FCDA7B24413F170BD456052F08AE49FB60AC1638F083AAB7A35AFEB957AEB1D6/VC_redist.arm64.exe" />
      </ExePackage>
      <?endif?>

      <MsiPackage
        Id="CodecInstaller"
        SourceFile="installer.msi"
        Visible="no" />
    </Chain>
  </Bundle>
</Wix>
