<!--
  SPDX-FileCopyrightText: © 2024 Team CharLS
  SPDX-License-Identifier: BSD-3-Clause
-->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

    <!-- Use a different upgrade code for x86 to allow x86 and x64 versions to be installed side by side -->
  <?if $(sys.BUILDARCHSHORT) = "X86" ?>
  <?define UpgradeCode = "8b7ad629-eeba-43eb-9a2d-c7d47a1a8688" ?>
  <?else?>
  <?define UpgradeCode = "8b7ad629-eeba-43eb-9a2d-c7d47a1a8689" ?>
  <?endif?>

  <Bundle Name="JPEG-LS WIC Codec ($(sys.BUILDARCH))"
          Manufacturer="Team CharLS"
          Version="$(FourPartsVersion)"
          UpgradeCode="$(UpgradeCode)">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        LicenseUrl=""
        Theme="hyperlinkLicense"
        SuppressOptionsUI="yes"
        SuppressRepair="yes" />
    </BootstrapperApplication>

    <!-- processor architecture -->
    <util:RegistrySearch
        Id="REG_ARCH"
        Root="HKLM"
        Key="SYSTEM\CurrentControlSet\Control\Session Manager\Environment"
        Value="PROCESSOR_ARCHITECTURE"
        Result="value"
        Variable="ARCH_NAME" />

    <!-- Visual C++ 2015-2022 Redistributable (x86) runtime minimum msi package version -->
    <util:ProductSearch
        Id="VCRUNTIME_X86"
        Result="version"
        Variable="VCRUNTIME_X86_VER"
        UpgradeCode="65E5BD06-6392-3027-8C26-853107D3CF1A"
        Condition="VersionNT" />

    <!-- Visual C++ 2015-2022 Redistributable (x64) runtime minimum msi package version -->
    <util:ProductSearch
        Id="VCRUNTIME_X64"
        Result="version"
        Variable="VCRUNTIME_X64_VER"
        UpgradeCode="36F68A90-239C-34DF-B58C-64B30153CE35"
        Condition="VersionNT64 AND (ARCH_NAME = &quot;AMD64&quot;)"
        After="REG_ARCH" />

    <!-- Visual C++ 2015-2022 Redistributable (Arm64) runtime msi package version -->
    <util:ProductSearch
        Id="VCRUNTIME_ARM64"
        Result="version"
        Variable="VCRUNTIME_ARM64_VER"
        UpgradeCode="DC9BAE42-810B-423A-9E25-E4073F1C7B00"
        Condition="(ARCH_NAME = &quot;ARM64&quot;)"
        After="REG_ARCH" />

    <!-- Visual C++ 2015-2022 Redistributable runtime msi package version -->
    <Variable Name="VCRUNTIME_VER" Type="version" Value="14.44.35026.0" />

    <Chain>
      <!-- Visual C++ 2015-2022 Redistributable (x86) -->
      <?if $(sys.BUILDARCHSHORT) = "X86" ?>
      <ExePackage
          Id="VC_REDIST_X86"
          DisplayName="Microsoft Visual C++ 2015-2022 Redistributable (x86) - 14.44.35026"
          Cache="remove"
          PerMachine="yes"
          Permanent="yes"
          Protocol="burn"
          InstallCondition="VersionNT"
          DetectCondition="(VCRUNTIME_X86_VER &gt;= VCRUNTIME_VER) AND VersionNT"
          InstallArguments="/install /quiet /norestart"
          RepairArguments="/repair /quiet /norestart"
          UninstallArguments="/uninstall /quiet /norestart">
        <ExePackagePayload
            Name="VC_redist.x86.exe"
            ProductName="Microsoft Visual C++ 2015-2022 Redistributable (x86) - 14.44.35026"
            Description="Microsoft Visual C++ 2015-2022 Redistributable (x86) - 14.44.35026"
            Hash="B2F2F591B9F152E22BCCE7AEDA8692404F05C703EAA12C39A8CE8B7D21615F6C7E18F5C6C92047A33C49BF6C15E8172D6723E31A97B0C0BD89B02A74798766A2"
            Size="13955160"
            Version="14.44.35026.0"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/e4a579e3-91ed-4372-b9bb-f8d821421292/777C541479C07A375DB0DCCEB027C3AE561E77D82F3551127E1032EC0732E6BE/VC_redist.x86.exe" />
      </ExePackage>
      <?endif?>

      <!-- Visual C++ 2015-2022 Redistributable (x64) -->
      <?if $(sys.BUILDARCHSHORT) = "X64" ?>
      <ExePackage
          Id="VC_REDIST_X64"
          DisplayName="Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.44.35026"
          Cache="remove"
          PerMachine="yes"
          Permanent="yes"
          Protocol="burn"
          InstallCondition="VersionNT64 AND (ARCH_NAME = &quot;AMD64&quot;)"
          DetectCondition="(VCRUNTIME_X64_VER &gt;= VCRUNTIME_VER) AND VersionNT64 AND (ARCH_NAME = &quot;AMD64&quot;)"
          InstallArguments="/install /quiet /norestart"
          RepairArguments="/repair /quiet /norestart"
          UninstallArguments="/uninstall /quiet /norestart">
        <ExePackagePayload
            Name="VC_redist.x64.exe"
            ProductName="Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.44.35026"
            Description="Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.44.35026"
            Hash="DCF69C56C33EFF62E53991D8CA101B9DF6BE63C071109BFB820753495C31DB4F3441568133BDC10E017BB7816B6EA408419EB283BFE05027DB3B1DEE65C98094"
            Size="25621584"
            Version="14.44.35026.0"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/8b4a3005-316e-40c9-a12c-945109ada384/A8166D0EDCC808B2582C692AB0068BDE695D1398D2012AF708A876CB91A015F4/VC_redist.x64.exe" />
      </ExePackage>
      <?endif?>

      <!-- Visual C++ 2015-2022 Redistributable (Arm64) -->
      <?if $(sys.BUILDARCHSHORT) = "A64" ?>
      <ExePackage
          Id="VC_REDIST_ARM64"
          DisplayName="Microsoft Visual C++ 2015-2022 Redistributable (Arm64) - 14.44.35026"
          Cache="remove"
          PerMachine="yes"
          Permanent="yes"
          Protocol="burn"
          InstallCondition="(ARCH_NAME = &quot;ARM64&quot;)"
          DetectCondition="(VCRUNTIME_ARM64_VER &gt;= VCRUNTIME_VER) AND (ARCH_NAME = &quot;ARM64&quot;)"
          InstallArguments="/install /quiet /norestart"
          RepairArguments="/repair /quiet /norestart"
          UninstallArguments="/uninstall /quiet /norestart">
        <ExePackagePayload
            Name="VC_redist.arm64.exe"
            ProductName="Microsoft Visual C++ 2022 Redistributable (Arm64) - 14.44.35026"
            Description="Microsoft Visual C++ 2022 Redistributable (Arm64) - 14.44.35026"
            Hash="8F8AD7F38F1F84343D2912867AF21FF1498A5028796EB07BC5EDD3A933A43CD333537A5F6ABC7CBC1F6255CA80A44FEBA5A9A16FD78EE3131C34660D2AD11138"
            Size="11703312"
            Version="14.44.35026.0"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/8b4a3005-316e-40c9-a12c-945109ada384/8DC1E6629A9AEA5723791858E2A9127EBB549648D88C3E7AFB224EA09C3D173B/VC_redist.arm64.exe" />
      </ExePackage>
      <?endif?>

      <MsiPackage
        Id="CodecInstaller"
        SourceFile="installer.msi"
        Visible="no" />
    </Chain>
  </Bundle>
</Wix>
